@media(max-width: 670px){
  .main{
    width:100%;
  }

  .btn{
    width:100%;
  }

  footer{
    text-align: center;
  }

  .facebook{
    margin-bottom: 10px;
  }

  .danjo{
    text-align: left;
  }
}
